dates.start_date=19930101
dates.end_date=20130725
#dates.min_length=200
#dates.max_length=2000

data.dates_path=/home/brendon/data/gresham/news/timeseries/trading_dates.txt
data.words_path=/home/brendon/data/gresham/news/timeseries/words
data.prices_path=/home/brendon/data/gresham/news/timeseries/prices

#test.lag_windows=10
#test.threshold=0.00001
test.iterations=10

#words.min_bag_size=3
#words.max_bag_size=20
#words.min_word_total=100

thread_count=2